@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400");
/* FONT / COLOR */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px; }

/* EXTEND */
.write-mode {
  writing-mode: tb-rl;
  font-weight: bold;
  padding-top: 10px; }

.fonts-style, .box-grid {
  font-family: "Open Sans", sans-serif;
  color: #fff; }

.a-href, .box-grid a, .power .container a {
  text-decoration: none;
  color: #fff;
  font-weight: bold; }
  .a-href:hover, .box-grid a:hover, .power .container a:hover {
    color: #3333CC; }

/* EXTEND GRID BOX */
.grid-box-small-size, .container .row .box-pink, .container .row .box-dark-blue, .container .row .box-clients, .container .row .box-purple, .container .row .box-green, .container .row .box-start {
  width: 275px;
  height: 280px; }

.grid-box-big-size, .container .row .box-sign-up {
  width: 550px;
  height: 280px; }

/* HEADER */
.masthead {
  background: url("https://images.pexels.com/photos/547116/pexels-photo-547116.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
  background-position: 0% 80%;
  max-width: 100%;
  height: auto;
  border: 1px solid; }

.logo {
  margin-top: 80px;
  display: flex;
  object-fit: cover; }
  .logo h2 {
    margin-left: 10px;
    font-family: "Merriweathe";
    font-style: italic;
    color: #fff; }

.masthead-text {
  color: #fff;
  font-family: "OpenSans Light", sans-serif;
  height: 700px; }
  .masthead-text .container {
    display: flex; }
    .masthead-text .container .picture-perfect {
      max-width: 640px;
      text-align: left;
      margin-top: 100px; }
      .masthead-text .container .picture-perfect h2 {
        font-size: 60px;
        padding-bottom: 30px; }
      .masthead-text .container .picture-perfect p {
        font-size: 13px; }
    .masthead-text .container .phone {
      text-align: right;
      margin: 200px 0 0 0; }
      .masthead-text .container .phone img {
        max-width: 70%; }

/* START SOMETHING */
.start-something {
  padding: 80px 0px 80px 0px; }
  .start-something h2 {
    padding: 0px 0px 20px 0px; }

/* BOX GRID */
.box-grid {
  font-size: 13px; }
  .box-grid h2 {
    font-family: "OpenSans Light", sans-serif;
    font-size: 30px; }

.container .row {
  width: 100%;
  justify-content: center; }
  .container .row .box-pink {
    background-color: #f5989d; }
  .container .row .box-dark-blue {
    background-color: #615f7d; }
  .container .row .box-clients {
    background-image: url("https://images.pexels.com/photos/325265/pexels-photo-325265.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: 100% 100%; }
  .container .row .box-purple {
    background-color: #bd8cbf;
    /* ROW */ }
  .container .row .box-sign-up {
    background-color: #bd8cbf;
    background-image: url("https://images.pexels.com/photos/259703/pexels-photo-259703.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: 100% 100%; }
  .container .row .box-green {
    background-color: #82ca9c; }
  .container .row .box-start {
    background-color: #bd8cbf;
    background-image: url("https://images.pexels.com/photos/237180/pexels-photo-237180.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: 100% 100%; }
.container [class*='box'] {
  display: flex;
  flex-wrap: wrap; }
  .container [class*='box']:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: 0.2s; }

/* DETAILS */
.look h2 {
  font-size: 35px;
  padding: 0px 0px 50px 0px; }

.details {
  padding: 0px 0px 80px 0px; }
  .details .container .row .look-bold {
    font-weight: bold; }

/* POWER */
.power {
  background-image: url("https://zapodaj.net/images/2249eba4e194e.jpg");
  color: #fff;
  background-size: cover; }
  .power .container {
    padding: 0px 0px 80px 0px; }
    .power .container h2 {
      font-size: 60px;
      padding: 20rem 0px 10px 0px; }
    .power .container a {
      padding: 5px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.9); }

/* ONBOARD */
.onboard {
  background-color: #82ca9c;
  color: #fff;
  padding-bottom: 100px; }
  .onboard .write-mode {
    padding-top: 50px; }

/* BUY NOW */
.buy-now {
  background-color: #f6f7fa;
  padding-bottom: 100px; }
  .buy-now .write-mode {
    padding-top: 50px; }
  .buy-now .container .col-lg-6 {
    padding: 20px; }
    .buy-now .container .col-lg-6 .anchor {
      color: #fff;
      padding: 10px;
      border: 1px solid;
      border-radius: 6px;
      background-color: #e1e1e1;
      text-decoration: none; }
    .buy-now .container .col-lg-6:hover {
      background-color: #ffffff;
      box-shadow: 0 0 30px 1px #bfbfbf; }
      .buy-now .container .col-lg-6:hover .anchor {
        background-color: #bd8cbf; }
    .buy-now .container .col-lg-6 button {
      color: #fff; }
    .buy-now .container .col-lg-6 .btn-buy {
      background-color: #82ca9c;
      padding: 10px 20px 10px 20px; }
      .buy-now .container .col-lg-6 .btn-buy:hover {
        background-color: #5e9572; }
    .buy-now .container .col-lg-6 i {
      color: #c5c5c5;
      margin-top: 10px; }
      .buy-now .container .col-lg-6 i:hover {
        color: #000000; }

/* FOOTER */
footer {
  background-color: #192431;
  color: #fff;
  padding: 80px 0px 80px 0px; }
  footer .container {
    padding: 5rem 0px 10px 0px; }
    footer .container .row h2 {
      font-size: 13px;
      font-weight: bold; }
    footer .container .row .col-lg-4 {
      padding: 20px 0px 0px 0px; }
    footer .container .row .col-lg-6 .form-row {
      margin-left: 0px; }
  footer ul {
    list-style: none;
    padding: 10px 0px 0px 0px; }
  footer .form-control {
    width: 70%;
    border-radius: 0.25rem 0rem 0rem 0.25rem;
    background-clip: border-box; }
  footer .btn {
    border-radius: 0rem 0.25rem 0.25rem 0rem; }

/* DESKTOP */
@media (max-width: 1200px) and (min-width: 992px) {
  .write-mode {
    visibility: hidden; }

  /* HEADER */
  .masthead {
    background-size: cover;
    background-position: 60% 0%; }
    .masthead .container .phone {
      margin: 300px 0 0 0; }

  /*  GRID BOX */
  .grid-box-small-size, .container .row .box-pink, .container .row .box-dark-blue, .container .row .box-clients, .container .row .box-purple, .container .row .box-green, .container .row .box-start {
    width: 220px;
    height: 280px; }

  .grid-box-big-size, .container .row .box-sign-up {
    width: 440px;
    height: 280px; } }
/* LARGE TABLETS */
@media (max-width: 992px) and (min-width: 768px) {
  /* HEADER */
  .masthead {
    background-size: cover;
    background-position: 60% 0%; }

  .masthead-text .container .phone {
    margin: 400px 0 0 0; } }
/* TABLETS */
@media (max-width: 768px) and (min-width: 448px) {
  .write-mode {
    visibility: hidden; }

  /* GRID BOX */
  .box-grid .row {
    margin-left: 0px; }

  .grid-box-small-size, .container .row .box-pink, .container .row .box-dark-blue, .container .row .box-clients, .container .row .box-purple, .container .row .box-green, .container .row .box-start {
    width: 200px;
    height: 280px; }

  .grid-box-big-size, .container .row .box-sign-up {
    width: 400px;
    height: 280px; }

  /* HEADER */
  .masthead {
    background-size: cover;
    height: 350px; }

  .masthead-text .container .picture-perfect {
    margin: 0 auto;
    width: 100%;
    text-align: center; }
  .masthead-text .container .phone {
    visibility: hidden; }
    .masthead-text .container .phone img {
      width: 10px; }

  /* FOOTER */
  footer {
    padding-left: 10px; } }
/* SMARTPHON */
@media (max-width: 447px) {
  .write-mode {
    visibility: hidden; }

  /* HEADER */
  .masthead {
    background-size: cover; }

  .masthead-text {
    height: 300px; }
    .masthead-text .container .picture-perfect {
      margin: 0 auto;
      width: 100%;
      text-align: center; }
    .masthead-text .container .phone {
      visibility: hidden; }
      .masthead-text .container .phone img {
        width: 10px; }

  /* GRID BOX */
  .box-grid .row {
    margin-left: 0px; }

  .grid-box-big-size, .container .row .box-sign-up {
    width: 275px;
    height: 280px; }

  /*BUY NOW */
  .buy-now .container .row {
    margin-left: 0px; }

  /* FOOTER */
  footer {
    padding-left: 10px; } }

/*# sourceMappingURL=style.css.map */
